<header>
<div class="toolbar-container row">
  <nav class="navbar navbar-expand-lg navbar-light col-12">
    <a class="navbar-brand logo order-lg-0" href="#">SMS Termin</a>
        <span class="menu-spacer"></span>
    <div class="dropdown order-lg-3">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        {{ selectedLang | uppercase }}<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li *ngFor="let lang of languages" (click)="getLangValue($event)">
          {{ lang | uppercase}} </li>
      </ul>
    </div>
    <button class="navbar-toggler order-lg-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'nav-menu.main' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'nav-menu.features' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ 'nav-menu.price' | translate }}</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#">{{ 'nav-menu.contact' | translate }}</a>
        </li>
      </ul>
      <span class="menu-spacer-desktop"></span>
      <span class="pull-center">
      <button type="button" class="btn btn-auth">{{ 'nav-menu.sign-in' | translate }}</button>
      <button type="button" class="btn btn-auth">{{ 'nav-menu.log-in' | translate }}</button>
        </span>
    </div>

  </nav>
</div>
  <div class="main-content">
    <div class="row">
      <div class="align-center col-md-5 col-sm-12 col-12">
        <h1>{{ 'main-content.program' | translate }}</h1>
      </div>
      <div class="col-md-7 col-sm-12 col-12">
        <img id="macbook" src="../../../assets/img/macbook.svg" alt="Macbook">
      </div>
    </div>
    <div class="row">
      <div class="bottom-content col-12">
        <h2>{{ 'main-content.automation' | translate }}</h2>
        <button class="btn btn-start-now"><span>{{ 'main-content.start' | translate }}</span></button>
      </div>
    </div>
  </div>

</header>
