.align-center {
  display: flex;
  align-items: center;
}

.pull-center {
  display: flex;
  justify-content: center;
}

header {
  height: 100vh;
  min-height: 700px;
  font-family: 'Montserrat', sans-serif;

  .toolbar-container {
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    font-family: 'Montserrat', sans-serif;
    .btn.focus, .btn:focus {
      outline: none;
      box-shadow: none;
    }
    .btn-auth {
      width: 136px;
      border-radius: 4px;
      background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 100%);
      box-shadow: -1px 1px 8px 0 rgba(126, 114, 242, 0.58);
      color: #FFFFFF;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      margin: 0 12px;
    }
    .dropdown-toggle:before {
      content: url("../../../assets/img/language.svg");
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    .dropdown-menu {
      min-width: unset;
      width: 90px;
      text-align: center;
      li {
        cursor: pointer;
      }
      li:hover {
        background-color: #f0f8ff;
      }
    }
    .logo {
      color: #7E72F2;
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
    }
    .menu-spacer-desktop {
      flex: 1 1 auto;
    }

    .navbar-toggler, .navbar-toggler:focus {
      border: none;
      outline: none;
      cursor: pointer;
    }

  }

  .main-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #606060;
      font-size: 30px;
    }
    img {
      width: 100%;
    }

    .bottom-content {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        color: #606060;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        padding: 20px 0;
      }

      .btn-start-now {
        width: 300px;
        border-radius: 4px;
        background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 100%);
        box-shadow: -1px 1px 8px 0 rgba(126, 114, 242, 0.58);
        span {
          color: #FFFFFF;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    .toolbar-container {
      .btn-auth {
        font-size: 13px;
        width: 115px;
      }
    }
    .main-content {
      h1 {
        font-size: 21px;
      }
      .bottom-content {
        h2 {
          font-size: 19px;
        }
        .btn-start-now {
          width: auto;
        }
      }
    }
  }
  .navbar-nav {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: auto;
    min-height: auto;
    .toolbar-container {

    }
  }
  .navbar-nav {
    text-align: center;
  }
  .menu-spacer {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 767px) {
  header {
  .main-content {
    h1 {
      font-size: 28px;
      text-align: center;
    }
  }
}
}
@media screen and (max-width: 400px) {
  header {
    .toolbar-container {
      .logo {
        font-size: 18px;
      }
      .navbar-toggler, .navbar-toggler:focus {
        padding: 0 0 0 10px;
      }
      .dropdown-toggle {
        font-size: 12px;
        padding:0;
      }
    }
    .main-content {
      h1 {
        font-size: 20px;
      }
    }
  }
}
