<header>
  <div class="top-line row">
    <nav class="navbar navbar-expand-lg navbar-light col-7">
      <a class="navbar-brand logo" href="#">
        SMS Termin
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Особенности</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Связаться с нами</a>
          </li>
        </ul>
      </div>
    </nav>
        <div class="buttons-auth row col-5">
          <button type="button" class="btn btn-auth">Регистрация</button>
          <button type="button" class="btn btn-auth">Войти</button>
          <div><fa-icon [icon]="faCoffee"></fa-icon></div>
        </div>
  </div>
</header>
