<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<!--    <div class="container-fluid custom-container-width">-->
<div class="container container-sm">
  <app-menu></app-menu>
  <app-features></app-features>
  <app-carousal></app-carousal>
  <app-contact-us></app-contact-us>
    </div>
  <app-footer></app-footer>


</body>

</html>
