@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
    background-color: #F9F9F9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /*font-family: Roboto, "Helvetica Neue", sans-serif; */
}

img {
  max-width: 100%;
}

.row {
  padding: 15px;
}

/* OWL carousel styles */

.owl-carousel, .owl-stage-outer {
  max-height: 100%;
  height: 300px;
}
.owl-carousel .owl-item {
  padding: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: #9a8ffd;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #79797d;

}

.custom-container-width {
    max-width: 1440px;
}
