/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
html,
body {
    height: 100%;
    background-color: #F9F9F9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /*font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.custom-container-width {
    max-width: 1440px;
}