<footer>
  <div class="container-fluid footer-context">
    <div class="justify-content-center row">
      <div class="row col-lg-4 col-md-12">
        <div class="col">Privacy Policy</div>
        <div class="col">
         <span class="img-container"> <img src="../../../assets/img/facebook_white.svg" width="19" height="19" alt="Facebook"></span>
          <a href="#">Facebook</a>
        </div>
      </div>
    </div>
    <div class="justify-content-center row">
      <div class="row col-lg-4 col-md-12">
        <div class="col">Terms of Service</div>
        <div class="col">
          <span class="img-container"><img src="../../../assets/img/telegram_white.svg" width="19" height="19" alt="Telegram"></span>
          <a href="#">Telegram</a>
        </div>
      </div>
    </div>
  </div>
</footer>
