footer{
  background-color: #7E72F2;
  a {
    color: #FFFFFF;
    font-size: 14px;	line-height: 24px;
  }
  .col {
    padding: 10px;
  }
  .row {
    padding: 0;
  }
  .footer-context{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
    .img-container {
      padding: 0 10px;
    }
  }
}
.container-fluid {
  padding: 0;
}


