<section>
  <div class="row">
    <div class="col-12">
      <h2>
        {{ 'features.header' | translate}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 order-md-0 order-1 center-mobile m-20">
      <img src="../assets/img/automation.svg" alt="">
    </div>
    <div class="col-md-8 col-sm-12 order-md-1 order-0 m-auto">
      <h3>
        {{ 'features.automation' | translate}}
      </h3>
      <div class="description m-20">
        {{ 'features.automation-description' | translate}}
      </div>
    </div>
  </div>
  <div class="row flex-md-row-reverse">
    <div class="col-md-4 col-sm-12 order-md-0 order-1 center-mobile m-20 pull-end">
      <img src="../assets/img/notifications.svg" alt="">
    </div>
    <div class="col-md-8 col-sm-12 order-md-1 order-0 m-auto">
      <h3>
        {{ 'features.notification' | translate}}
      </h3>
      <div class="description m-20">
        {{ 'features.notification-description' | translate}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 order-md-0 order-1 center-mobile m-20">
      <img src="../assets/img/confidentiality.svg" alt="">
    </div>
    <div class="col-md-8 col-sm-12 order-md-1 order-0 m-auto">
      <h3>
        {{ 'features.confidentiality' | translate}}
      </h3>
      <div class="description m-20">
        {{ 'features.confidentiality-description' | translate}}
      </div>
    </div>
  </div>
</section>
